// https://github.com/DidrikLindqvist/Dashing.io-widgets
// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #4b4b4b;

// ----------------------------------------------------------------------------
// Widget-image styles
// ----------------------------------------------------------------------------
.widget-surveillance {

  background-color: $background-color;
  img{
  	height:360px;
  	width: 800px;
  }
}
